@font-face {
    font-family: 'Montserrat';
    src: url('/dreamshare/fonts/Montserrat/static/Montserrat-Regular.ttf');
    
}

@font-face {
    font-family: 'MontserratBold';
    src: url('/dreamshare/fonts/Montserrat/static/Montserrat-Bold.ttf');
    
}


@font-face {
    font-family: 'RobotoLight';
    src: url('/dreamshare/fonts/Roboto/Roboto-Light.ttf');
    
}